
html{
    background-color: #010101;
    color: green !important;
    font-family: sans-serif;
    overflow-y: overlay;
    scrollbar-gutter: stable;
}

a{
    text-decoration: none;
    color: lightgreen;
}

a:hover{
    color: green;
}

textarea {
    resize: none;
    overflow:auto;
    outline: none !important;
    outline-color:lightgreen;
    border-color: lightgreen;
}



.form-control:focus {
    color: lightgreen !important;
    border-color: lightgreen !important;
}

.room-container{
    background-repeat: no-repeat;
    background-size: 22vw;
    background-position: 20vw -2.5vw;
    min-height: 200px;
}

.chirp-container{
    position: relative;
    border: 2px solid darkgreen;
}

.chrip-message{
    line-break: anywhere;
}

.chirp-container.others:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 1vmin;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top-color: darkgreen;
    border-bottom: 0;
    border-left: 0;
    margin-bottom: -20px;
    z-index: -1;
}

.chirp-container.yours:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 1vmin;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top-color: darkgreen;
    border-bottom: 0;
    border-right: 0;
    margin-bottom: -20px;
    z-index: -1;
}

.chirp-container:after{
    content: attr(role);
    position: absolute;
    bottom: 1.4vmin;
    right: 3.5vmin;
    width: 0;
    height: 0;
    font-size: small;
    color: darkgreen !important;
    transform: rotate(-40deg);
}